doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Codystar')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Muli')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content